@font-face {
	font-family: Quicksand;
	src: url(assets/fonts/Quicksand.ttf)
}

@font-face {
	font-family: Poppins;
	src: url(assets/fonts/Poppins.ttf)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-display: swap;
}

header {
  width: 100%;
  position: fixed;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	box-shadow: 0 2px 20px 1px rgb(0, 0, 0, .3);
	z-index: 2;
}

.greet {
	margin: 10px;
	font-size: 1.5em;
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	font-weight: 900;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-image: linear-gradient(45deg, #5900ff, #ff009d);
}

.menuBtn {
	margin: 10px;
	border: none;
	width: 38px;
	aspect-ratio: 1/1;
	border-radius: 5px;
	font-size: 1.1em;
	background-color: transparent;
	box-shadow: 1px 2px 4px 1px rgb(0, 0, 0, .3);
	will-change: background-color, color;
}

.menuBtn:active {
  color: #fff;
	box-shadow: none;
	background-color: #234;
}

.menubar {
  position: fixed;
  top: 55px;
  right: -200px;
  display: grid;
  border-radius: 0 0 10px 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: .4s;
  will-change: right;
}


.menubar h2 {
  margin-top: 20px;
  text-align: center;
  font-family: QuicksandmatchMedia('(min-width: 768px) and (orientation: landscape)'), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menubar hr {
  width: 90%;
  height: 2px;
  margin: 5px auto;
  background-color: #000;
}

.menubar a, .menubar button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  padding: 20px;
  color: #123;
  font-weight: bold;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  cursor: default
}
.menubar a:hover{
  color: #fff;
  background-color: #234;
}

.menubar button {
  border: none;
  font-size: 1em;
  background: transparent;
}

.menubar a i, .menubar button i {
  width: 30px;
  font-size: 1.2em;
}

.menubar button:disabled {
  color: #aaa;
}

.fader {
	opacity: 0
}

.home .profile {
	position: relative;
	height: 250px;
	margin: 70px 10px;
	border-radius: 20px;
	background-image: url(images/laptop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background: #123;
}

.profile h1,
.profile h2 {
	position: absolute;
	left: 40px;
	color: #fff;
	text-shadow: 1px 2px 10px #000;
}

.profile h1 {
	top: 30px;
	border-radius: 10px;
	font-size: 2em;
	font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif
}

.profile h2 {
	top: 70px;
	border-radius: 10px;
	padding: 5px 10px;
	font-size: 1em;
	background-image: linear-gradient(45deg, #00bfff, #00008b, purple);
	box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.6);
}

.profile img {
	position: absolute;
	bottom: -80px;
	margin-left: 20px;
	border: #fff solid 8px;
	width: 8em;
	border-radius: 50%;
	aspect-ratio: 1/1
}

.socialPortal {
	position: absolute;
	bottom: -50px;
	left: 150px
}

.socialPortal a {
	margin: 0 5px;
	font-size: 1.8em
}

.socialPortal a:nth-child(1) {
	color: #000
}

.socialPortal a:nth-child(2) {
	color: #00acee
}

.socialPortal a:nth-child(3) {
	color: #0072b1
}

.socialPortal a:nth-child(4) {
	color: #25d366
}

.intro {
	margin-top: 100px
}

.intro .intro_txt {
	margin: 10px;
	border-left: 8px solid #123;
	border-radius: 5px 20px 20px 5px;
	padding: 10px 20px;
	text-align: justify;
}

.intro h3 {
	will-change: contents;
	margin: 20px 0 80px 0;
	text-align: center;
	color: #567;
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	animation: float 1.5s ease-in-out infinite
}

.intro h3 i {
	will-change: too;
	position: relative;
	animation: float 1.5s ease-in-out infinite
}

@keyframes float {
	0% {
		top: 0
	}

	50% {
		top: 12px
	}

	100% {
		top: 0
	}
}

section {
  padding-top: 10px;
}

section .title {
	margin-left: 20px;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-image: linear-gradient(45deg, #123, #567)
}

section .subtitle {
	padding: 20px;
	font-family: Quicksand, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.tech_list {
	margin: 30px 10px 30px 10px;
	padding: 20px 10px;
	border-radius: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
	gap: 20px;
	background-image: linear-gradient(-45deg, #123 20%, #456 20% 40%, #789 40% 60%, #abc 60% 80%, #fff 80% 100%);
	box-shadow: 0 0 10px 1px rgb(0, 0, 0, .3)
}

.tech_list figure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

.tech_list img {
	width: 60%;
	margin-bottom: 10px;
	filter: drop-shadow(0 0 10px rgb(0, 0, 0, .3));
	aspect-ratio: 1/1;
}

.tech_list figcaption {
	text-align: center;
	font-weight: 700;
	font-size: .8em
}

.certifications {
	margin-top: 100px
}

.certification_list {
	overflow-x: auto;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: nowrap;
	scroll-snap-type: x mandatory;
	scroll-snap-stop: always
}

.certification_list .certificate {
	width: 88vw;
	min-width: 88vw;
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
	background: linear-gradient(135deg, #ddd 50%, #eee 50%);
	scroll-snap-align: center
}

.certificate img {
	width: 100%;
	margin-bottom: 10px;
	aspect-ratio: 1.28/1;
}

.certificate .certificate_title a {
  padding: 5px;
	color: #123;
	text-decoration: none
}

.projects {
	margin-top: 100px
}

.projects_list .project {
	margin: 10px;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 1px 2px 6px 1px rgb(0, 0, 0, .3);
	background: transparent;
}

.project summary {
	border-radius: 10px;
	padding: 5px 10px;
	color: #fff;
	background: #123
}

.project summary * {
	margin: 2px;
	display: inline-block
}

.project .name {
	font-weight: bolder
}

.project .tech_used span {
	border-radius: 20px;
	padding: 2px 10px;
	text-align: center;
	color: #fff
}

.project .tech_used .html {
	background: #ff4500
}

.project .tech_used .css {
	background: #4169e1
}

.project .tech_used .js {
	background: #fc0
}

.project hr {
	width: 10%;
	height: 6px;
	border: none;
	margin: 10px auto;
	border-radius: 10px;
	background: #789
}

.project .actions {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px 0
}

.project .actions a {
	border: #123 solid 2px;
	text-align: center;
	font-weight: 700;
	border-radius: 20px;
	padding: 5px 20px;
	text-decoration: none;
	color: #123
}

.project .actions a:hover {
	color: #fff;
	background-color: #123
}

.education {
	margin-top: 100px;
	padding: auto 5px;
}

.education .slide {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 20px auto;
	border-radius: 10px;
	padding: 0 8px
}

.slide img {
	border-radius: 20px;
	box-shadow: 0 0 10px 1px rgb(0, 0, 0, .3);
	aspect-ratio: 1/1;
}

.education .subtitle {
	padding: 0 20px;
	font-size: .9em
}

.feedback {
	margin-top: 100px;
}

.feedback form {
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	color: #fff;
	box-shadow: 0 0 10px 1px rgb(0, 0, 0, .3);
	background-image: linear-gradient(135deg, #001, #123, #234);
	background-image: linear-gradient(135deg, #456, #123);
}

.feedback form fieldset {
	margin: 10px;
	border: 2px solid #abc;
	border-radius: 5px
}

.feedback form fieldset:focus-within {
	border-color: #fff;
}

.feedback form legend {
	margin-left: 5px;
	padding: 0 5px;
	font-weight: 700
}

.feedback input,
.feedback textarea {
	width: 100%;
	outline: 0;
	border: none;
	padding: 10px;
	font-size: 1.1em;
	font-family: Quicksand, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #fff;
	background: transparent;
}

.feedback input::placeholder,
.feedback textarea::placeholder {
	color: #abc;
}

.feedback input:invalid, .feedback textarea:invalid {
  color: #f06;
}

.feedback button {
	display: block;
	width: 90%;
	margin: 20px auto;
	border-radius: 30px;
	border: #0ca solid 2px;
	padding: 10px;
	color: #0ca;
	font-weight: 700;
	font-size: 1.1em;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	background: transparent;
}

.feedback button:hover {
	background: #0ca;
	color: #123
}

.feedback .fileBtn {
	border: #eee solid 2px;
	padding: 5px;
	color: #eee;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	background: transparent;
}
.feedback .fileBtn:hover {
  background-color: #eee;
}

.feedback .file {
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #456;
}

.feedback .file i {
  margin-right: 10px;
}

.feedback .file p {
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 70vw;
}

hr {
	width: 40%;
	height: 5px;
	margin: 20px auto;
	border-radius: 10px;
	border: none;
	background: #456;
}

footer {
	padding: 20px;
	color: #fff;
	text-align: center;
	background-color: #001;
}

footer a {
  display: inline-block;
  margin: 10px auto;
  color: #def;
}

/* 404 */
.pnf-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Poppins, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #456;
}

.pnf-container h1 {
  font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
  color: #001;
}

.pnf-container a {
  font-weight: bold;
  color: #123;
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

::-webkit-scrollbar {
	display: none;
}

/* DARK MODE */
.dark, .dark header {
  color: #fff;
  background-color: #123;
}
.dark header {
  box-shadow: 0 2px 20px 1px rgba(255, 255, 255, 0.2);
}
.dark header .menuBtn{
  color: #fff;
  box-shadow: 1px 3px 4px 1px rgba(255, 255, 255, 0.2);
}
.dark .menubar {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: -1px 2px 10px 1px rgba(255, 255, 255, 0.2);
}
.dark .menubar a, .dark .menubar button {
  color: #fff;
}
.dark .menubar a:hover {
  color: #000;
  background: #fff;
}
.dark .menubar hr {
  background-color: #abc;
}
.dark .profile img {
  border-color: #123;
}
.dark .title {
  background-image: linear-gradient(45deg, #abc, #fff);
}
.dark .intro h3 {
  color: #abc;
}
.dark .intro .intro_txt {
  border-left-color: #eee;
}
.dark .intro {
  border-left-color: #eee;
}
.dark .tech_list figcaption {
  color: #000;
}
.dark .certificate {
  background-image: linear-gradient(135deg, #123 50%, #001 50%);
  box-shadow: 1px 2px 10px 1px rgba(255, 255, 255, 0.2);
}
.dark .certificate a {
  color: #fff;
}
.dark .project {
  box-shadow: 1px 2px 6px 1px rgb(255, 255, 255, .3);
}
.dark .project summary {
  color: #000;
  background-color: #fff;
}
.dark .project a {
  color: #fff;
  border-color: #fff;
}
.dark .project a:hover {
  color: #000;
  background-color: #fff;
}

/* MEDIA */
@media (min-width: 768px) {
  .menubar {
    display: flex;
    align-items: center;
    top: 60px;
    right: -100%;
  }
  .menubar h2 {
    display: none;
  }
  .menubar a i {
    font-size: 1.2em;
  }
  .menubar button {
    display: none;
  }
  .home .profile {
    margin: 100px 30px 70px 30px;
    float: left;
    width: 40vw
  }
  .intro {
    margin: 90px 20px 50px 10px;
    width: 50vw;
    float: right
  }
  .title, .subtitle {
    clear: both;
  }
  .certification_list .certificate {
    min-width: 20vw;
    width: 20vw;
  }
  .projects_list .project {
    width: 80vw;
  }
  .projects_list .project summary {
    padding: 20px;
  }
  .feedback form {
    margin: 40px auto 0 auto;
    width: 80%;
  }
  .feedback form fieldset {
    margin: 20px auto;
    width: 80%;
  }
  .feedback button[type=submit] {
    width: 50%;
  }
}
@media (max-width:380px) {
	.menuBtnContainer span {
		display: none
	}
}